# Backend
Backend/Salama/bin/
Backend/Salama/obj/
Backend/Salama/.vs/
Backend/Salama/*.log
Backend/Salama/*.db
Backend/Salama/*.rar
Backend/Salama/*.lscache
Backend/Salama/git_push_trace.txt
Backend/Salama/Salama.http

# Frontend
Frontend/node_modules/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
*.suo
*.user

# Root
bin/
obj/
.vs/
